{% extends 'bootstrap/base.html' %}
    
{% block head %}
    {{ super() }}

    {% if title %}
	    <title> Flask | {{ title }}</title>
	{% else %}
	    <title> Flask | Bienvenido</title>
	{% endif %}

    <!--FontType -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}
{% block body %}
    {% block navbar %}
        {% include 'nav_bar.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}